<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989397723775-mh17spiujh009dju14sehjcdsdqlnprn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989397723775-mh17spiujh009dju14sehjcdsdqlnprn</string>
	<key>API_KEY</key>
	<string>AIzaSyB5l-vEv0shMO3PO0TD4uYtk8nhW55MDto</string>
	<key>GCM_SENDER_ID</key>
	<string>989397723775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>land.fx.blox</string>
	<key>PROJECT_ID</key>
	<string>fxblox-fx-land</string>
	<key>STORAGE_BUCKET</key>
	<string>fxblox-fx-land.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989397723775:ios:4dec58f3e6c126c265ad4a</string>
</dict>
</plist>