{
  "presets": [
    [
      "module:metro-react-native-babel-preset",
      { "useTransformReactJSXExperimental": true }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/plugin-transform-class-static-block",
    "react-native-reanimated/plugin",
    ["@babel/plugin-proposal-export-namespace-from"]
  ]
}
